*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/* HEADER */
.LOGO{
    position: absolute;
}

/* NAVBAR */
nav{
    text-align: right;
    background-color: rgb(28, 28, 28);
    color: rgb(0, 0, 0);
}
nav li{
    display: inline;
}
nav a{
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 3% 5%;
    text-decoration: none;
}
nav a:hover{
    color:rgb(255, 255, 255);
    text-decoration: underline;
    transition: 1s;
}

/* SECTION */
section .profil1{
    position: absolute;
    padding-left: 5%;
    padding-top: 5%;
}

section ul {
    color: rgb(65, 5, 56);
    font-family: "Popins", sans-serif;
    font-size: 8em;
    padding-left: 35%;
    padding-top: 12%;
}

section ul:hover{
    color: blueviolet;
    transition: 0.9s;
}

/* ARTICLE */
article div{
    display: block;
    background-color: rgb(172, 30, 150);
    padding: 10%;
    border-radius: 5%;
}
article h1{
    text-transform: uppercase;
    color: rgb(65, 5, 56);
}
/* FOOTER */
footer {
    text-align: center;
    color: crimson;
    background-color: rgb(132, 0, 255);
    padding: 20px;
}