*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/* HEADER */

/* NAVBAR */
nav{
    text-align: left;
    background-color: rgb(184, 76, 185);
    color: rgb(0, 0, 0);
    border-radius: 6vh;
}
nav ul li{
    display: inline-block;
    margin-right: 5%;
    padding: 30px;
}
.logo{
    vertical-align: middle;
    height: 70px;
    width: auto;
}
nav a{
    color: rgb(0, 0, 0);
    display: inline-block;
    text-decoration: none;
}
nav a:hover{
    color:rgb(255, 255, 255);
    text-decoration: underline;
    transition: 1s;
}

/* SECTION */
section {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 70vh;
    background-color: #f2f2f2;
}

section img {
    width: 200px;
    border-radius: 100%;
    border: 5px solid rgb(102, 0, 112);
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.5);
}

.overlay {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(244, 219, 219, 0.491);
    color: rgb(251, 0, 255);
    padding: 20px;
    border-radius: 10vh;
    text-align: center;
}

.nama {
    display: block;
    font-size: 30px;
    color: #333;
    margin-top: 10px;
}

.nama:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 162);
    border-radius: 1vh;
    transition: 1S;
}

/* ARTICLE */
article div{
    display: block;
    background-color: rgb(172, 30, 150);
    padding: 10%;
    border-radius: 5%;
}
article h1{
    text-transform: uppercase;
    color: rgb(65, 5, 56);
}
/* FOOTER */
footer {
    text-align: center;
    color: crimson;
    background-color: rgb(132, 0, 255);
    padding: 20px;
}