/*main*/
main {
    background-color: #000000;
    overflow-x: hidden;
    border-radius: 2vh;
}/*main*/
main {
    background-color: #000000; /* black */
    overflow-x: hidden;
    border-radius: 2vh;
}