@font-face {
    font-family: 'FontTtd';
    src: url('../fonts/DancingScript-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Font3D';
    src: url('../fonts/BungeeShade-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'FontAstigmatic';
    src: url('../fonts/Righteous-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Memastikan padding dan margin tidak menambah ukuran elemen */
}

body {
    font-family: 'FontAstigmatic', Arial, sans-serif;
    background-color: #001f3f; /* Warna latar belakang biru malam */
    color: #fff;
    display: flex;
    flex-direction: column; /* Mengatur konten dalam kolom */
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 20%;
    text-align: center;
}

#header-content h1 {
    font-size: 2.5rem; /* Ukuran font untuk heading utama */
}

#header-content p {
    font-family: 'FontTtd'; /* Menggunakan font kustom */
    font-size: 1.5rem; /* Ukuran font untuk subjudul */
    margin-top: 10px; /* Jarak antara heading dan subjudul */
}

.nav-container {
    position: absolute;
    bottom: 2%;
    display: flex;
    background: rgba(255, 255, 255, 0.247); /* Latar belakang navbar */
    border-radius: 10px; /* Sudut membulat */
    padding: 10px; /* Padding di dalam navbar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Bayangan */
}

.nav-item {
    margin: 0 20px; /* Jarak antar item navbar */
}

.nav-item img {
    width: 40px; /* Ukuran ikon */
    height: 40px; /* Ukuran ikon */
    transition: transform 0.3s ease; /* Transisi saat hover */
}

.nav-item a:hover img {
    transform: translateY(-50%) scale(1.5);
}

/* Style for the loading GIF */
.loading {
    display: none; /* Disembunyikan secara default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.249); /* Latar belakang semi transparan */
    padding: 10px;
    border-radius: 10px;
}

.loading img {
    width: 400px;
    height: auto;
}